<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ProFit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- CSS -->
    <style>
        .nav ul li:hover a {
            color: rgb(0, 0, 0);
        }
        /* <!-- ADD Enquiry Entries Start --> */
        /* My Account */
        
        .card offer-card h5.card-title {
            border: 2px dotted #000;
        }
        
        .card.offer-card h5 {
            border: 1px dotted #daceb7;
            display: inline-table;
            color: #17a2b8;
            margin: 0 0 19px 0;
            font-size: 15px;
            padding: 6px 10px 6px 6px;
            border-radius: 2px;
            background: #fffae6;
            position: relative;
        }
        
        .card.offer-card h5 img {
            height: 22px;
            object-fit: cover;
            width: 22px;
            margin: 0 8px 0 0;
            border-radius: 2px;
        }
        
        .card.offer-card h5:after {
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 4px solid #daceb7;
            content: "";
            left: 30px;
            position: absolute;
            bottom: 0;
        }
        
        .card.offer-card h5:before {
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #daceb7;
            content: "";
            left: 30px;
            position: absolute;
            top: 0;
        }
        
        .reviews-members .media .mr-3 {
            width: 56px;
            height: 56px;
            object-fit: cover;
        }
        
        .order-list img.mr-4 {
            width: 70px;
            height: 70px;
            object-fit: cover;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
            border-radius: 2px;
        }
        /*  */
        
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #000000;
        }
        
        .shadow-sm {
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
        }
        
        .rounded-pill {
            border-radius: 50rem!important;
        }
        
        a:hover {
            text-decoration: none;
        }
        /* <!-- ADD Enquiry Entries END --> */
        /* Membership Start */
        
        .price-innerdetail h5 {
            font-weight: 400;
            letter-spacing: 2px;
            font-size: 15px;
        }
        
        .price-innerdetail p {
            font-size: 50px;
        }
        
        .detail-pricing {
            border-bottom: 1px solid;
            padding: 30px 0 30px 0;
        }
        
        .detail-pricing .float-left {
            padding: 0 0 0 40px;
        }
        
        .detail-pricing .float-left i {
            position: absolute;
            left: 0;
            font-size: 20px;
        }
        
        .detail-pricing span {
            display: inline-block;
            position: relative;
            font-weight: 400;
        }
        
        .wrap-price {
            background: rgba(32, 33, 36, .1);
            padding: 50px 20px 50px;
            border-radius: 10px;
        }
        
        .center-wrap {
            background: #070707;
            color: #fff;
        }
    </style>

</head>

<body>
    <!-- NAVBAR START -->
    <section>
        <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-sm ">
                    <a class="navbar-brand" href="#">
                        <img src="./dumbbell-solid.svg" alt="Logo" style="width:40px;">
                    </a>
                </nav>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="nav mx-auto">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Enquiry</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Plans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Members</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Members Plans</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <button class="btn btn-light ms-3">Login</button>
                <i class="bi bi-person"></i>
            </div>
            </div>
            </div>
        </nav>
    </section>

    <!-- NAVBAR END -->

    <!-- LOGIN FORM START -->

    <section class="vh-100" style="background-color: #9A616D;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="./gymlogin.avif" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form>

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                            <span class="h1 fw-bold mb-0">Logo</span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                                        <div class="form-outline mb-4">
                                            <input type="email" id="form2Example17" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example17">Email address</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" id="form2Example27" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example27">Password</label>
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- LOGIN FORM END -->

    <!-- Enquiry Entries Start -->

    <div class="container list-group mt-5">
        <div class="">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Enquired for the Diet Plan</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">Omkar Kumbhar.</p>
                <small>Routine.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Shardul Bhosale</h5>
                    <small class="text-muted">5 days ago</small>
                </div>
                <p class="mb-1">Enquired about the Plans.</p>
                <small class="text-muted">Plans for 3 months.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Pruthviraj Patankar</h5>
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Enquired About Personal Trainer.</p>
                <small class="text-muted">Asked about the charges and time.</small>
            </a>
            <div class="container mt-3 ">
                <button type="button" id="submit" name="submit" class="btn btn-primary">Add New Enquiry</button>
            </div>
        </div>
    </div>
    <!-- Enquiry Entries Start -->

    <!-- ADD Enquiry Entries Start -->

    <div class="container mt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane  fade  active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                <h4 class="font-weight-bold mt-0 mb-4">Members</h4>
                                <div class="bg-white card mb-4 order-list shadow-sm">
                                    <div class="gold-members p-4">
                                        <a href="#">
                                        </a>
                                        <div class="media">
                                            <a href="#">
                                                <img class="mr-4" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Generic placeholder image">
                                            </a>
                                            <div class="media-body">

                                                <h6 class="mb-2">
                                                    <a href="#"></a>
                                                    <a href="#" class="text-black">Omkar Kumbhar</a>
                                                </h6>
                                                <p class="text-gray mb-1"><i class="bi bi-telephone"></i> +919876543210
                                                </p>
                                                <p class="text-gray mb-3"><i class="bi bi-geo-alt-fill"></i> A/p Malegaon Dist:Pune
                                                    <p class="text-dark">Enquired about the Diet Plan and the Plansof membership
                                                    </p>
                                                    <hr>
                                                    <div class="float-right">
                                                        <a class="btn btn-sm btn-outline-primary" href="#"><i class="icofont-headphone-alt"></i> Update</a>
                                                        <a class="btn btn-sm btn-danger" href="#"><i class="icofont-refresh"></i> Delete</a>
                                                    </div>
                                                    <p class="mb-0 text-black text-primary pt-2"><span class="text-black font-weight-bold"> Joined on</span> 28/02/24
                                                    </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="bg-white card mb-4 order-list shadow-sm">
                                    <div class="gold-members p-4">
                                        <a href="#">
                                        </a>
                                        <div class="media">
                                            <a href="#">
                                                <img class="mr-4" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Generic placeholder image">
                                            </a>
                                            <div class="media-body">

                                                <h6 class="mb-2">
                                                    <a href="#"></a>
                                                    <a href="#" class="text-black">Omkar Kumbhar</a>
                                                </h6>
                                                <p class="text-gray mb-1"><i class="bi bi-telephone"></i> +919876543210
                                                </p>
                                                <p class="text-gray mb-3"><i class="bi bi-geo-alt-fill"></i> A/p Malegaon Dist:Pune
                                                    <p class="text-dark">Enquired about the Diet Plan and the Plansof membership
                                                    </p>
                                                    <hr>
                                                    <div class="float-right">
                                                        <a class="btn btn-sm btn-outline-primary" href="#"><i class="icofont-headphone-alt"></i> Update</a>
                                                        <a class="btn btn-sm btn-danger" href="#"><i class="icofont-refresh"></i> Delete</a>
                                                    </div>
                                                    <p class="mb-0 text-black text-primary pt-2"><span class="text-black font-weight-bold"> Joined on</span> 28/02/24
                                                    </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ADD Enquiry Entries END -->

    <!-- ADD Enquiry FORM END -->
    <div class="container mt-3">
        <div class="row gutters">
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Personal Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input type="text" class="form-control" id="fullName" placeholder="Enter full name">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">Email</label>
                                    <input type="email" class="form-control" id="eMail" placeholder="Enter email ID">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="text" class="form-control" id="phone" placeholder="Enter phone number">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="website">Joined</label>
                                    <input type="url" class="form-control" id="website" placeholder="Joining Date">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">Address</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="Street">Street</label>
                                    <input type="name" class="form-control" id="Street" placeholder="Enter Street">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="ciTy">City</label>
                                    <input type="name" class="form-control" id="ciTy" placeholder="Enter City">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="sTate">State</label>
                                    <input type="text" class="form-control" id="sTate" placeholder="Enter State">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="zIp">Zip Code</label>
                                    <input type="text" class="form-control" id="zIp" placeholder="Zip Code">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters mt-3">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
                                    <button type="button" id="submit" name="submit" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ADD Enquiry FROM END -->


    <!-- Membership -->

    <section id="price-section">
        <div class="container mt-3">
            <div class="row justify-content-center gapsectionsecond">
                <div class="col-lg-7 text-center">
                    <div class="title-big pb-3 mb-3">
                        <h3>SERVICE PRICES</h3>
                    </div>
                    <p class="description-p text-muted pe-0 pe-lg-0">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quas optio reiciendis deleniti voluptatem facere sequi, quia, est sed dicta aliquid quidem facilis culpa iure perferendis? Dolor ad quia deserunt.
                    </p>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-lg-4 pb-5 pb-lg-0">
                    <div class="wrap-price">
                        <div class="price-innerdetail text-center">
                            <h5>MINIMUM BASIC SERVICE</h5>
                            <p class="prices">150$</p>
                            <div class="detail-pricing">
                                <span class="float-left"> <i class="bi bi-check2-circle"></i> Photoshoot duration </span>
                                <span class="float-right">4 Hours</span>
                            </div>
                            <div class="detail-pricing">
                                <span class="float-left"> <i class="bi bi-check2-circle"></i> Number photo</span>
                                <span class="float-right">50 - 200</span>
                            </div>
                            <div class="detail-pricing">
                                <span class="float-left"> <i class="bi bi-check2-circle"></i> Consultation</span>
                                <span class="float-right">Style</span>
                            </div>
                            <a href="#" class="btn btn-secondary mt-5">Schedule</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pb-5 pb-lg-0">
                    <div class="wrap-price center-wrap">
                        <div class="price-innerdetail text-center">
                            <h5>PRO SERVICE</h5>
                            <p class="prices">350$</p>
                            <div class="detail-pricing">
                                <span class="float-left"> <i class="bi bi-check2-circle"></i> Photoshoot duration </span>
                                <span class="float-right">4 Hours</span>
                            </div>
                            <div class="detail-pricing">
                                <span class="float-left"> <i class="bi bi-check2-circle"></i> Number photo</span>
                                <span class="float-right">50 - 200</span>
                            </div>
                            <div class="detail-pricing">
                                <span class="float-left"> <i class="bi bi-check2-circle"></i> Consultation</span>
                                <span class="float-right">Style</span>
                            </div>
                            <a href="#" class="btn btn-secondary mt-5">Schedule</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pb-5 pb-lg-0">
                    <div class="wrap-price">
                        <div class="price-innerdetail text-center">
                            <h5>STANDART SERVICE</h5>
                            <p class="prices">250$</p>
                            <div class="detail-pricing">
                                <span class="float-left"> <i class="bi bi-check2-circle"></i> Photoshoot duration </span>
                                <span class="float-right">4 Hours</span>
                            </div>
                            <div class="detail-pricing">
                                <span class="float-left"> <i class="bi bi-check2-circle"></i> Number photo</span>
                                <span class="float-right">50 - 200</span>
                            </div>
                            <div class="detail-pricing">
                                <span class="float-left"> <i class="bi bi-check2-circle"></i> Consultation</span>
                                <span class="float-right">Style</span>
                            </div>
                            <a href="#" class="btn btn-secondary mt-5">Schedule</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Membership -->

    <script src="" async defer></script>
</body>

</html>